@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@300&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    height: 40% ;
    width: 60%;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-info , .input-card {
    margin-top: 32px;
}

.card-btn {
    margin-top: 23px;
    padding: 9px 23px;
    
}

.card-info {
    display: flex;
}

.input {
    border: none;
    border-bottom: 2px solid black;
}